---
import type { HTMLAttributes } from "astro/types";
import { getDocLimits, type DocDelLimit } from "./limits";

interface Props extends HTMLAttributes<"div"> {
  limits?: DocDelLimit;
}

const { limits = "full", class: className, ...attrs } = Astro.props;
---

<div
  class:list={[
    "flex flex-col items-center mx-auto w-full",
    getDocLimits(limits),
    className,
  ]}
  {...attrs}
>
  <slot />
</div>
